@*@model IEnumerable<Eaton_DG_PCC.Models.PHP_PCTron>*@
@model  Eaton_DG_PCC.Models.AllStatus
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Remote data acquisition system</title>
    <meta name="keywords" content="远程通讯系统keywords">
    <meta name="description" content="远程通讯系统description">

    <link href="~/Css/style.min862f.css" rel="stylesheet" />
    <link href="~/Css/bootstrap.min14ed.css" rel="stylesheet" />
    <link href="~/Css/font-awesome.min93e3.css" rel="stylesheet" />
</head>


<body class="">

    <div class="row">
        <div class="col-sm-12">
            <div class="widget red-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-bell fa-4x"></i>
                    <h1 class="m-xs">@Model.DeviceId Alarm messages</h1>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">


            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="feed-activity-list">


                        @*@foreach (Eaton_DG_PCC.Models.PHP_PCTron item in Model)
                            {
                                <div class="feed-element">
                                    <div>
                                        <strong>Model： @item.DeviceId</strong>
                                        <div class="font-bold text-danger">Content： @item.PLCStatus</div>
                                        <small class="text-muted">@item.Ts</small>
                                    </div>
                                </div>

                            }*@




                        @*<small class="text-muted">@Model.Test1</small>
        <div class="font-bold text-danger">@Model.Test2</div>*@
                        @*1-10*@

                        @if (Model.Test1.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX1</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test2.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test3.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test4.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test5.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test6.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test7.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test8.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test9.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test10.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }


                        @*11-20*@
                        @if (Model.Test11.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test12.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test13.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test14.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test15.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test16.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test17.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test18.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test19.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test20.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }


                        @*21-30*@
                        @if (Model.Test21.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX1</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test22.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test23.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test24.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test25.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test26.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test27.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test28.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test29.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test30.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX</small>
                            </div>
                        }
                        else { }

                        @*31-40*@
                        @if (Model.Test31.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Scan Axis  shaft reaches CW limit !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test32.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Scan Axis shaft reaches CCW limit !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test33.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Scan Axis Servo Error !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test34.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Unloading Axis has no origin !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test35.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Unloading Axis  shaft reaches CW limit !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test36.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Unloading Axis shaft reaches CCW limit !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test37.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Unloading Axis Servo Error !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test38.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Rotate Axis 2 has no origin !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test39.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Rotate Axis 2  shaft reaches CW limit !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test40.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Rotate Axis 2  shaft reaches CCW limit !</small>
                            </div>
                        }
                        else { }


                        @*41-50*@
                        
                        @if (Model.Test41.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Loading station X Cylinder failure during reset !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test42.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Loading station Z Cylinder failure during reset !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test43.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Loading station Claw failure during reset !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test44.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Test 1st station Press Cylinder failure during reset !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test45.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Test 1st station Test Cylinder failure during reset !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test46.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Test 1st station Claw failure during reset !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test47.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Test 2st station Press Cylinder failure during reset !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test48.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Test 2st station Test Cylinder failure during reset !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test49.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Test 2st station Claw failure during reset !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test50.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Unloading station Z Cylinder failure during reset !</small>
                            </div>
                        }
                        else { }




                        @*51-60*@
                        @if (Model.Test51.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Unloading station Turn Cylinder failure during reset !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test52.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Packing station heating Press Cylinder failure during reset !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test53.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">there is a foreign object between the tray and the conveyor belt when preparing for a new line !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test54.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">There is something extra at the 1th station !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test55.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Vacuum Nozzle failure during loading station operation !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test56.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">X Cylinder failure during loading station operation !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test57.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Z Cylinder failure during loading station operation !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test58.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Claw failure during loading station operation !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test59.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Mark dot check device communication failure !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test60.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">3D scan check device communication failure !</small>
                            </div>
                        }
                        else { }



                        @*61-70*@
                        @if (Model.Test61.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">The main rotating platform failure !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test62.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Press Cylinder failure during Test 1st station operation !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test63.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Test Cylinder failure during Test 1st station operation !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test64.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Claw failure during Test 1st station operation !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test65.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Tester 1 Timeout in Testing</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test66.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Prees Cylinder failure during Test 2st station operation !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test67.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Test Cylinder failure during Test 2st station operation !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test68.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Claw failure during Test 2st station operation !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test69.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Tester 2 Timeout in Testing !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test70.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Laser Marking device communication !</small>
                            </div>
                        }
                        else { }




                        @*71-80*@
                        @if (Model.Test71.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Communication failure with CCD1 Vision device ( CCD height check IPC )!</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test72.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Communication failure with CCD2 Vision device( Keyence ) !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test73.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">XXXXXXX73</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test74.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Z Cylinder failure during Unloading station operation !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test75.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Turn Cylinder failure during Unloading station operation !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test76.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Vacuum Nozzle failure during Unloading station operation !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test77.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Heating Press Cylinder failure during Packing station operation !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test78.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">The temperature of the heating head 1 has not reached the set value !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test79.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">The temperature of the heating head 2 has not reached the set value !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test80.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Missing packaging Tape !</small>
                            </div>
                        }
                        else { }





                        @*81-90*@
                        @if (Model.Test81.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Missing packaging Cover !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test82.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Incorrect placement of Packing Position !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test83.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">After packaging, there is no unit in the packaging tape !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test84.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">The part is ou of packing tape !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test85.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Waste paper tape is full !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test86.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">There is something extra at the 8th station !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test87.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">No Tray or need to replace a new Tray !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test88.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Loading Tray Axis has no origin !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test89.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Loading tray shaft reaches CW limit !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test90.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Loading tray shaft reaches CCW limit !</small>
                            </div>
                        }
                        else { }




                        @*91-100*@
                        @if (Model.Test91.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Loading tray Servo Error !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test92.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Push Axis has no origin !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test93.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Push Axis  shaft reaches CW limit !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test94.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Push Axis shaft reaches CCW limit !</small>
                            </div>
                        }
                        else { }


                        @if (Model.Test95.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Push Axis Servo Error !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test96.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Rotate Axis has no origin !</small>
                            </div>
                        }
                        else { }

                        @if (Model.Test97.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Rotate Axis  shaft reaches CW limit !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test98.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Rotate Axis shaft reaches CCW limit !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test99.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Rotate Axis Servo Error !</small>
                            </div>
                        }
                        else { }
                        @if (Model.Test100.ToString() == "True")
                        {
                            <div class="feed-element">
                                <small class="text-muted">Scan Axis has no origin !</small>
                            </div>
                        }
                        else { }

                    </div>
                </div>
            </div>



        </div>
    </div>



</body>




</html>
