@model IEnumerable<Eaton_DG_PCC.Models.AllStatus>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>Remote data acquisition system</title>
    <meta name="keywords" content="远程通讯系统keywords">
    <meta name="description" content="远程通讯系统description">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Css/bootstrap.min14ed.css" rel="stylesheet" />
    <link href="~/Css/font-awesome.min93e3.css" rel="stylesheet" />
    <link href="~/Css/animate.min.css" rel="stylesheet" />
    <link href="~/Css/style.min862f.css" rel="stylesheet" />

</head>


<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" 
                                       src="~/img/Eaton.gif"/></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong class="font-bold">Beaut-zihan</strong></span>
                                    <span class="text-muted text-xs block">Super Admin<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">

                                <li>
                                    <a class="J_menuItem" href="">Personal data</a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="">Contact us</a>
                                </li>

                                <li class="divider"></li>
                                <li>
                                    @*<a href="@Url.Action("Login","datangs")">Exit</a>*@
                                    <a href="#">Exit</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            AME+
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">Device</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="@Url.Action("Device_List","PCTron")">Device list</a>
                                
                            </li>
                            <li>
                                <a class="J_menuItem" href="@Url.Action("Machine_Data","PCTron")" data-index="0">Device file</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="@Url.Action("Maintenance_info","PCTron")">Maintenance info</a>
                            </li>
                            
                            
                            
                        </ul>
                    </li>
                   
                    <li>
                        <a href="#">
                            <i class="fa fa fa-fire-extinguisher"></i>
                            <span class="nav-label">Alarm</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                @*<a class="J_menuItem" href="@Url.Action("Alert_info","PCTron")">Alarm information</a>*@
                                @*<a class="J_menuItem" href="@Url.Action("Alert_info","PCTron")">Alarm information</a>*@
                            </li>
                            <li>
                                <a class="J_menuItem" href="">Alarm push</a>
                            </li>
                            
                           
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Statement analysis</span><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="">Production report</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="">Quality report</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Production order</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                @*<a class="J_menuItem" href="@Url.Action("Complete_order","saiyuans")">Has been completed order</a>*@
                                <a class="J_menuItem" href="@Url.Action("Complete_order","PCTron")">Has been completed order</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="@Url.Action("Production_schedule","PCTron")">Production order status real-time</a>
                            </li>  
                        </ul>
                    </li>



                    <li>
                        <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Historical data</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="">Historical data query</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">FAQ knowledge base</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="@Url.Action("Basic_faq","PCTron")">Basic problems</a>
                            </li>
                            
                           
                            <li>
                                <a class="J_menuItem" href="">Senior problem</a>
                            </li>
                            
                        </ul>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">GIS</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="">Bai du</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="">LBS</a>
                            </li>
                           
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">Device photo</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="">Device A photo</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="">Device B photo</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="">Device C photo</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="J_menuItem" href=""><i class="fa fa-magic"></i> <span class="nav-label">Traceability</span><span class="fa arrow"></span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Authority</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="">Role</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="">Department</a>
                            </li>
                        </ul>
                    </li>

                    

                    


                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            @*class="gray-bg dashbard-1"*@


            @*<div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="@Url.Action("Main","saiyuans")">首页</a>
                    </div>
                </nav>

                <button class="roll-nav roll-right J_tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">
                        关闭操作<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll">
                            <a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>

            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0"  width="100%" height="100%" src="/saiyuans/Main" frameborder="0"  seamless></iframe>
            </div>*@


            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">Index</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">
                        closing<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>Locate the current TAB</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll">
                            <a>Close all tabs</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a>Close the other tabs</a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> Exit</a>
            </div>
            <!--默认加载页面-->
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/PCTron/Device_List" frameborder="0" data-id="index_v1.html" seamless></iframe>
            </div>
            

        </div>
        <!--右侧部分结束-->
        

    </div>






    <script src="~/scripts/jquery.min.js"></script>

    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/scripts/plugins/layer/layer.min.js"></script>
    <script src="~/scripts/hplus.min.js"></script>
    <script src="~/scripts/contabs.min.js"></script>
    <script src="~/scripts/plugins/pace/pace.min.js">
    </script>
    @*<script>

        !(function (doc, win) {
            var docEle = doc.documentElement,
                evt = "onorientationchange" in window ? "orientationchange" : "resize",
                fn = function () {
                    var width = docEle.clientWidth > 750 ? 750 : docEle.clientWidth;
                    width && (docEle.style.fontSize = 20 * (width / 375) + "px");
                };

            win.addEventListener(evt, fn, false);
            doc.addEventListener("DOMContentLoaded", fn, false);

        }(document, window));


    </script>*@

    <script>
       !function(){
           var i = screen.width / 750;
           document.write('<meta name="viewport"content="width=750,initial-scale='+i+",maximum-scale="+i+", minimum-scale="+i+',user-scalable=no,target-densitydpi=device-dpi,minimal-ui"/>');
       }();
       //plus.screen.lockOrientation("landscape");//锁定横屏 左右旋转 默认不会还原
       
    </script>


</body>


</html>
