@model Tuple<List<Eaton_DG_PCC.Model.Spare_Parts_Info>>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Remote data acquisition system</title>
    <meta name="keywords" content="远程通讯系统keywords">
    <meta name="description" content="远程通讯系统description">
    <link href="~/Css/bootstrap.min14ed.css" rel="stylesheet" />
    <link href="~/Css/animate.min.css" rel="stylesheet" />
    <link href="~/Css/style.min862f.css" rel="stylesheet" />
    <link href="~/Css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="~/Css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <link href="~/Css/plugins/chosen/chosen.css" rel="stylesheet">


    <link href="~/Css/plugins/datapicker/datepicker3.css" rel="stylesheet">


</head>

<body class="gray-bg">




    <div class="row">
        
                <div class="ibox-title">
                    <div class="col-sm-11"></div>
                    <div class="col-sm-1">
                        <div class="ibox-tools">
                            <a href="@Url.Action("Add_Spare_Parts","PCTron", new { Address=@ViewBag.Address})" class="btn btn-primary btn-xs ">Add</a>
                            <form action="~/Report/Spare_Parts_Report" method="post" style="margin:0px;display:inline;">
                                <input type="text" style="display:none" value="@ViewBag.Address" id="Address" name="Address" />
                            </form>
                        </div>
                    </div>
                </div>
            
    </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">


                    <!-- Data content-->
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th>Number</th>
                                    <th>Brand</th>
                                    <th>Model</th>
                                    <th>Number of Stock</th>
                                    <th>Unit</th>
                                    <th>Safety Stock</th>
                                    <th>Provider</th>
                                    <th>Owner</th>
                                    <th>Telephone</th>
                                    <th>Make</th>

                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model != null)
                                {
                                    foreach (Eaton_DG_PCC.Model.Spare_Parts_Info item in Model.Item1)
                                    {
                                        <tr class="gradeX">
                                            <td>@item.ID</td>
                                            <td>@item.Num</td>
                                            <td class="center">@item.Name</td>
                                            <td class="center">@item.Model</td>
                                            @if (item.Stock_Quantity < item.Safety_Stock)
                                            {
                                                <td class="center label-warning">@item.Stock_Quantity</td>
                                            }
                                            else
                                            {
                                                <td class="center">@item.Stock_Quantity</td>
                                            }
                                            <td class="center">@item.Unit</td>
                                            <td class="center">@item.Safety_Stock</td>
                                            <td class="center">@item.Supplier</td>
                                            <td class="center">@item.Contacts</td>
                                            <td class="center">@item.Phone</td>
                                            <td class="center">@item.Mark</td>

                                            <td class="center">

                                                <a href="@Url.Action("Edit_Spare_Parts","PCTron", new { ID=@item.Real_id})" class="btn btn-white btn-sm">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>


                                                <a onclick="Delete(@item.Real_id)" class="btn btn-white btn-sm ">
                                                    @*<a href="@Url.Action("Delete_Faq","PCTron", new { ID=@item.ID})" class="btn btn-white btn-sm">*@
                                                    <i class="fa fa-trash-o "></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>NO.</th>
                                    <th>Number</th>
                                    <th>Brand</th>
                                    <th>Model</th>
                                    <th>Number of Stock</th>
                                    <th>Unit</th>
                                    <th>Safety Stock</th>
                                    <th>Provider</th>
                                    <th>Owner</th>
                                    <th>Telephone</th>
                                    <th>Make</th>

                                    <th>Operation</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>


                <script src="~/scripts/plugins/chosen/chosen.jquery.js"></script>
                <script src="~/scripts/demo/form-advanced-demo.min.js"></script>

                <script src="~/scripts/jquery.min.js?v=2.1.4"></script>
                <script src="~/scripts/bootstrap.min.js?v=3.3.6"></script>
                <script src="~/scripts/plugins/sweetalert/sweetalert.min.js"></script>

                <script src="~/scripts/plugins/dataTables/jquery.dataTables.js"></script>
                <script src="~/scripts/plugins/dataTables/dataTables.bootstrap.js"></script>
                <script>
                    $(document).ready(function () { $(".dataTables-example").dataTable(); var oTable = $("#editable").dataTable(); oTable.$("td").editable("#", { "callback": function (sValue, y) { var aPos = oTable.fnGetPosition(this); oTable.fnUpdate(sValue, aPos[0], aPos[1]) }, "submitdata": function (value, settings) { return { "row_id": this.parentNode.getAttribute("id"), "column": oTable.fnGetPosition(this)[2] } }, "width": "90%", "height": "100%" }) }); function fnClickAddRow() { $("#editable").dataTable().fnAddData(["Custom row", "New row", "New row", "New row", "New row"]) };
                </script>


                @*<script>
                        $(document).ready(function(){$("#loading-example-btn").click(function(){btn=$(this);simpleLoad(btn,true);simpleLoad(btn,false)})});function simpleLoad(btn,state){if(state){btn.children().addClass("fa-spin");btn.contents().last().replaceWith(" Loading")}else{setTimeout(function(){btn.children().removeClass("fa-spin");btn.contents().last().replaceWith(" Refresh")},2000)}};
                    </script>*@

                <script>
                    //删除信息


                    function Delete(categoryID) {
                        swal({
                            title: "Are you sure you want to delete this information?", text: "Deleted will not be restored, please be careful!", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55", confirmButtonText: "Yes, I want to delete it!", cancelButtonText: "Let me think about it again...", closeOnConfirm: false, closeOnCancel: false
                        }, function (isConfirm) {
                            if (isConfirm) {
                                //swal("删除成功！", "您已经永久删除了这条信息。", "success")

                                url = "/PCTron/Delete_Spare_Parts";
                                parameter = { id: categoryID };
                                $.post(url, parameter, function (data) {
                                    if (data == "success") {
                                        swal("Delete successfully!", "You have permanently deleted this information.", "success")
                                        //history.go(-1);
                                        //alert("删除成功！");
                                        //window.location = "/PCTron";
                                        setTimeout(function () {
                                            window.location.href = window.location.href;
                                        }, 3000)

                                    } else { alert("Delete failed!"); }
                                });
                            } else {
                                swal("Cancelled", "You cancelled the deletion operation!", "error")
                            }
                        })
                    }

                </script>
</body>


</html>
